<div id="menu" th:fragment="header">
    <a th:href="@{/}"><img th:src="@{/images/home.png}"/><span>Início</span></a>
    <a th:href="@{/clientes/1}"><img th:src="@{/images/client.png}"/><span>Clientes</span></a>
    <a th:href="@{/fornecedores/1}"><img th:src="@{/images/provider.png}"/><span>Fornecedores</span></a>
    <a th:href="@{/produtos/1}"><img th:src="@{/images/storage.png}"/><span>Produtos</span></a>
    <a th:href="@{/vendas/1}"><img th:src="@{/images/sells.png}"/><span>Vendas</span></a>
    <a th:href="@{/login?logout}"><img th:src="@{/images/exit.png}"/><span>Sair</span></a>
</div>