* {
	margin: 0;
	padding: 0;
	font-family: Consolas;
	background-color: #9f61ba;
}

body {
	width: 100%;
	height: 100%;
}

body div.msg {
    text-align: center;
    height: fit-content!important;
    padding-top: 15px;
}

#login {
	height: 270px;
	width: 600px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	padding: 20px;
}

form {
	height: 180px;
	background-color: white;
}

#login .welcome {
	background-color: white;
	height: 40px;
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
	display: block;
	font-weight: bold;
}

#login input {
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: lightgray;
	padding: 5px;
	border: 2px solid black;
	height: 55px;
	box-sizing: border-box;
}

#login button {
	width: 50%;
	height: 50px;
	color: white;
	font-size: 18px!important;
	font-weight: bold;
	position: absolute;
	left: 25%;
	border: none;
	cursor: pointer;
	bottom: 20px;
}