<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Menu - Salão de Beleza</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    </head>
    <body>
        <div th:replace="~{fragments/header.html :: header}"></div>
        <div th:replace="~{fragments/footer.html :: footer}"></div>
    </body>
</html>